@media (min-width: 1024px) {
  .desktopHeader {
    padding: 0.5rem 2.5rem;
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-template-rows: 1fr;
    /* grid-template-columns: repeat(14, 1fr); */
    grid-template-columns: 2fr 1fr 7fr 1fr 2fr;
    grid-template-areas:
      "logo . mainLinks . authentication";
    /* grid-template-areas:
      "logo logo logo . explore explore explore create create create authentication authentication authentication authentication"; */
  }
}

@media (min-width: 1536px) {
  .desktopHeader {
    grid-template-columns: 3fr 2fr 7fr 1fr 2fr;
    /* grid-template-areas:
      "logo . mainLinks . authentication"; */
  }
}

/* maybe need to combine orderIcon and authentication into one class */

.logo {
  grid-area: logo;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  filter: brightness(1.05);
}

.logo:active {
  filter: brightness(0.95);
}


.mainLinks {
  grid-area: mainLinks;
}

/* ----------------- */

.menu {
  grid-area: menu;
}

.orderNow {
  grid-area: orderNow;
}

.rewards {
  grid-area: rewards;
}

.ourStory {
  grid-area: ourStory;
}

.media {
  grid-area: media;
}

/* ------------------ */
.authentication {
  grid-area: authentication;
}

.orderIcon {
  grid-area: orderIcon;
}

.profileIcon {
  grid-area: profileIcon;
}