.desktopHeader {
  padding: 0.5rem 2.5rem;
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 13fr 10fr 2fr;
  grid-template-areas:
    "logo mainLinks mainLinks authentication";
}

@media (min-width: 1250px) {
  .desktopHeader {
    grid-template-columns: 2fr 15fr 10fr 2fr;
  }
}

.logo {
  grid-area: logo;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  filter: brightness(1.05);
}

.logo:active {
  filter: brightness(0.95);
}

.mainLinks {
  grid-area: mainLinks;
}

.menu {
  grid-area: menu;
}

.authentication {
  grid-area: authentication;
}