@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .baseFlex {
    @apply flex items-center justify-center;
  }

  .baseVertFlex {
    @apply flex flex-col items-center justify-center;
  }
}

@layer base {
  :root {
    --background: 40 100% 99%;
    --foreground: 0 0% 3.9%;
    --card: 40 100% 99%;
    --card-foreground: 0 0% 3.9%;
    --popover: 40 100% 99%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 144 61% 20%;
    /* could go to 150 maybe for deg */
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 91%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 91%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 91%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 144 61% 20%;
    /* could go to 150 maybe for deg */
    --radius: 0.5rem;

    --active-link: 144 61% 10%;
    --offwhite: 40 100% 99%;
    --gold: 43.62 61.12% 52.98%;
    --borderGold: 49 61% 58%;
    --darkPrimary: 144 61% 15%;
    --body: 40 100% 98%;

    --chart-1: 144 61% 20%;
    --chart-2: 24 5% 64%;
  }

  .dark {
    --background: 40 100% 99%;
    --foreground: 0 0% 3.9%;
    --card: 40 100% 99%;
    --card-foreground: 0 0% 3.9%;
    --popover: 40 100% 99%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 144 61% 20%;
    /* could go to 150 maybe for deg */
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 91%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 91%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 91%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 144 61% 20%;
    /* could go to 150 maybe for deg */
    --radius: 0.5rem;

    --active-link: 144 61% 10%;
    --offwhite: 40 100% 99%;
    --gold: 43.62 61.12% 52.98%;
    --borderGold: 49 61% 52%;
    --darkPrimary: 144 61% 15%;
    --body: 40 100% 98%;

    --chart-1: 144 61% 20%;
    --chart-2: 24 5% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    /* this was bg-background before, but I think it makes more sense
    to have this be bg-body. keep an eye on it */
    @apply bg-body text-foreground;
  }
}

svg {
  -webkit-transform: translate(0px, 0px);
  /* for Safari */
  transform: translate(0px, 0px);
  /* for css linting, wanted both specified */
}

body {
  /* prevents fixed elements (<Chat>) from bouncing back and forth when the scrollbar
     appears/disappears. Doesn't work in Safari yet but afaik they have overlaid scrollbars anyway */
  scrollbar-gutter: stable;
}


.underlineAnimation {
  position: relative;
  overflow: hidden;
}

.underlineAnimation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width .25s cubic-bezier(0.4, 0, 0.2, 1);
}

.underlineAnimation:hover::after,
.underlineActive::after {
  width: 100%;
}

.activeUnderline {
  position: relative;
  overflow: hidden;
}

.activeUnderline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: width .25s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes shakeAnimation {

  0%,
  100% {
    rotate: 0deg;
  }

  25% {
    rotate: -10deg;
  }

  50% {
    rotate: 10deg;
  }

  75% {
    rotate: -5deg;
  }
}

.shake {
  animation: shakeAnimation 1.5s ease-in-out 1;
}

.homepageFoodMasonry {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 0.5rem;

  grid-template-areas:
    "firstFood firstFood"
    "secondFood thirdFood"
    "fourthFood thirdFood"
    "fifthFood fifthFood";

}

@media (min-height: 600px) and (min-width: 1000px) {
  .homepageFoodMasonry {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));

    grid-template-areas:
      "thirdFood secondFood firstFood firstFood"
      "thirdFood fifthFood fifthFood fourthFood";
  }
}

.firstMasonryFood {
  grid-area: firstFood;
}

.secondMasonryFood {
  grid-area: secondFood;
}

.thirdMasonryFood {
  grid-area: thirdFood;
}

.fourthMasonryFood {
  grid-area: fourthFood;
}

.fifthMasonryFood {
  grid-area: fifthFood;
}

.homepageInteriorMasonry {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 0.5rem;

  grid-template-areas:
    "firstInterior firstInterior"
    "thirdInterior secondInterior"
    "thirdInterior fourthInterior"
    "fifthInterior fifthInterior";

}

@media (min-height: 600px) and (min-width: 1000px) {
  .homepageInteriorMasonry {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));

    grid-template-areas:
      "firstInterior firstInterior secondInterior thirdInterior"
      "fourthInterior fifthInterior fifthInterior thirdInterior";
  }
}

.firstMasonryInterior {
  grid-area: firstInterior;
}

.secondMasonryInterior {
  grid-area: secondInterior;
}

.thirdMasonryInterior {
  grid-area: thirdInterior;
}

.fourthMasonryInterior {
  grid-area: fourthInterior;
}

.fifthMasonryInterior {
  grid-area: fifthInterior;
}

.cl-modalBackdrop {
  height: 100dvh !important;
  background-color: rgba(0, 0, 0, 0.8);
}