.path966 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 2243.1357421875;
  animation: path966Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path966Keyframe {
  from {
    stroke-dashoffset: 2243.1357421875;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path968 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 2155.778076171875;
  animation: path968Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path968Keyframe {
  from {
    stroke-dashoffset: 2155.778076171875;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path970 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 8029.041015625;
  animation: path970Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path970Keyframe {
  from {
    stroke-dashoffset: 8029.041015625;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path972 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 2105.2021484375;
  animation: path972Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path972Keyframe {
  from {
    stroke-dashoffset: 2105.2021484375;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path974 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 1758.4033203125;
  animation: path974Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path974Keyframe {
  from {
    stroke-dashoffset: 1758.4033203125;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path976 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 2066.7255859375;
  animation: path976Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path976Keyframe {
  from {
    stroke-dashoffset: 2066.7255859375;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path978 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 2007.3409423828125;
  animation: path978Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path978Keyframe {
  from {
    stroke-dashoffset: 2007.3409423828125;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path980 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 2131.264892578125;
  animation: path980Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path980Keyframe {
  from {
    stroke-dashoffset: 2131.264892578125;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path982 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 2516.20361328125;
  animation: path982Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path982Keyframe {
  from {
    stroke-dashoffset: 2516.20361328125;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path984 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 5269.76953125;
  animation: path984Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path984Keyframe {
  from {
    stroke-dashoffset: 5269.76953125;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path986 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 1859.4857177734375;
  animation: path986Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path988Keyframe {
  from {
    stroke-dashoffset: 1859.4857177734375;
  }

  to {
    stroke-dashoffset: 0;
  }
}


.path988 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 4014.854248046875;
  animation: path988Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path988Keyframe {
  from {
    stroke-dashoffset: 4014.854248046875;
  }

  to {
    stroke-dashoffset: 0;
  }
}


.path990 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 1167.268310546875;
  animation: path990Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path990Keyframe {
  from {
    stroke-dashoffset: 1167.268310546875;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path992 {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 6499.49560546875;
  animation: path992Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path992Keyframe {
  from {
    stroke-dashoffset: 6499.49560546875;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.path994 {
  /* stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 4172.39453125; */
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: path994Keyframe 5s ease-in-out infinite alternate;
}

@keyframes path994Keyframe {

  /* from {
    stroke-dashoffset: 4172.39453125;
  }

  to {
    stroke-dashoffset: 0;
  } */
  from {
    stroke-dashoffset: 1;
  }

  to {
    stroke-dashoffset: 0;
  }
}