.first {
  opacity: 0;
  animation: animatePath 1s 0s ease-in-out forwards;
}

.second {
  opacity: 0;
  animation: animatePath 1s 0.2s ease-in-out forwards;
}

.third {
  opacity: 0;
  animation: animatePath 1s 0.4s ease-in-out forwards;
}

@keyframes animatePath {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}